<form [formGroup]="form" (ngSubmit)="onSubmitForm()">
    <div class="row">
        <input-formcontrol-with-label-and-invalid-tooltip class="form-group col-4"
                                                          [input]="htmlInputs.writeOffName"
                                                          [(inputValue)]="form.controls['name']">
        </input-formcontrol-with-label-and-invalid-tooltip>
        <input-formcontrol-with-label-and-invalid-tooltip class="form-group col-4"
                                                          [input]="htmlInputs.writeOffLiquidationValue"
                                                          [(inputValue)]="form.controls['liquidationValue']">
        </input-formcontrol-with-label-and-invalid-tooltip>
        <input-formcontrol-with-label-and-invalid-tooltip class="form-group col-4"
                                                          [input]="htmlInputs.writeOffDate"
                                                          [(inputValue)]="form.controls['date']">
        </input-formcontrol-with-label-and-invalid-tooltip>
    </div>
    <input-formcontrol-with-label-and-invalid-tooltip class="form-group col-12"
                                                      [input]="htmlInputs.writeOffNote"
                                                      [(inputValue)]="form.controls['note']">
    </input-formcontrol-with-label-and-invalid-tooltip>
    <div class="d-flex justify-content-center">
        <pill-button [isLoading]="isLoading" [buttonDisabled]="form.invalid || form.untouched || isLoading"></pill-button>
    </div>
</form>
