<div class="mx-auto w-256px">
    <ng-template [ngIf]="!passwordChanged" [ngIfElse]="passwordChangedTemplate">
        <h4>{{localization.changePassword}}</h4>
        <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
            <div class="row">
                <input-formcontrol-with-label-and-invalid-tooltip class="form-group col-12"
                                                                  [input]="inputSettings['username']"
                                                                  [(inputValue)]="form.controls['username']">
                </input-formcontrol-with-label-and-invalid-tooltip>
            </div>
            <div class="row">
                <input-formcontrol-with-label-and-invalid-tooltip class="form-group col-12"
                                                                  [input]="inputSettings['oldPassword']"
                                                                  [(inputValue)]="form.controls['oldPassword']">
                </input-formcontrol-with-label-and-invalid-tooltip>
            </div>
            <div class="row">
                <input-formcontrol-with-label-and-invalid-tooltip class="form-group col-12"
                                                                  [input]="inputSettings['newPassword']"
                                                                  [(inputValue)]="form.controls['newPassword']">
                </input-formcontrol-with-label-and-invalid-tooltip>
            </div>
            <div class="row">
                <input-formcontrol-with-label-and-invalid-tooltip class="form-group col-12"
                                                                  [input]="inputSettings['passwordConfirmation']"
                                                                  [(inputValue)]="form.controls['passwordConfirmation']">
                </input-formcontrol-with-label-and-invalid-tooltip>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <pill-button [title]="localization.change" class="mx-auto" [isLoading]="isLoading" [buttonDisabled]="form.invalid || form.untouched || isLoading"></pill-button>
            </div>
        </form>
    </ng-template>

    <ng-template #passwordChangedTemplate>
        {{localization.passwordChanged}}
    </ng-template>
</div>

