<ng-template [ngIf]="!passwordReset" [ngIfElse]="passwordResetTemplate">
    <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
        <div class="row">
            <h6 class="mx-auto">{{localization.passwordRecovery}}</h6>
        </div>
        <div class="row">
            <input-formcontrol-with-label-and-invalid-tooltip class="form-group col-12"
                                                              [input]="inputSettings['email']"
                                                              [(inputValue)]="form.controls['email']">
            </input-formcontrol-with-label-and-invalid-tooltip>
        </div>
        <div class="d-flex justify-content-center mt-2">
            <pill-button [title]="'Восстановить'" [isLoading]="isLoading" [buttonDisabled]="form.invalid || form.untouched || isLoading"></pill-button>
        </div>
    </form>
</ng-template>

<ng-template #passwordResetTemplate>
    {{localization.checkEmailAfterResetPassword}}
</ng-template>
