<form [formGroup]="form" (ngSubmit)="onSubmitForm()">
    <div class="row">
        <input-formcontrol-with-label-and-invalid-tooltip class="form-group col-6"
                                                          [input]="inputSettings.name"
                                                          [(inputValue)]="form.controls['name']">
        </input-formcontrol-with-label-and-invalid-tooltip>
        <input-formcontrol-with-label-and-invalid-tooltip class="form-group col-6"
                                                          [input]="inputSettings.address"
                                                          [(inputValue)]="form.controls['address']">
        </input-formcontrol-with-label-and-invalid-tooltip>
    </div>
    <div class="d-flex justify-content-center">
        <pill-button class="mx-auto"
                     [isLoading]="isLoading"
                     [buttonDisabled]="form.invalid || form.untouched || isLoading">
        </pill-button>
    </div>
</form>
