.nav-active {
    background-color: rgba(0, 0, 0, 0.1);
}

.nbe-container {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 200
}

.nbe-main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 14.1rem;
    background-color: white
}

.nbe-head {
    padding: 0.4rem 1.25rem
}

.nbe-toogle-buttom {
    position: absolute;
    left: 14.1rem;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
}
