.sb-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 110;
}

.sb-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 25rem;
    background-color: rgba(0, 0, 0, 0.7);
}

.sb-title {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    width: 25rem;
    padding: 0 1rem;
}
